apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: conversation-history-postgres-pvc
  namespace: apps
  labels:
    app: conversation-history-postgres
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: local-path
